#left-nav{
    width:40%;
    background-color:#aaa;
    height: 100%;
}

img{
    height: 150px;
    width:200px;
}
.content-lists{
    display:flex;
    justify-content:center;
    flex-wrap: wrap;
}
.content-item{
    padding: 80px;
}