#left-nav{
    width:40%;
    background-color:#aaa;
    height: 100%;
}
#home{
    position: relative;
}
img{
    height: 80px;
    width:200px;
}
.right-page{
    width: 100%;
}
img:hover{
    transform:scale(1.05)
}
.contents{
    width: 80%;
    position: relative;
    left:10%
}
.content-lists{
    flex-wrap: wrap;
    justify-content: center;
    display:flex;

}
.content-item{
    margin-top: 20px;
    margin-right: 30px;
    font-family: "Times New Roman", Times, serif;
}