#left-nav{
    width:40%;
    background-color:#aaa;
    height: 100%;
}

img{
    height: 150px;
    width:350px;
}
img:hover{
    transform:scale(1.1)
}
.content-lists{
    display:flex;
    flex-wrap: wrap;
}
.content-item{
    width: calc((100% - 50px) / 3);
    text-align:center;
    
}