.content{
    width:200px;
    height:200px;    
}
.article-title{
    width:100px;
}
.containers{
    width:200px;
    height:200px;
    background-color: aliceblue;
    margin:20px 20px 20px 20px;
    display:flex;
}