.markdown-body{
    display:flex;
}
.markdown-headNav{

}
.markdown-body{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
}
.markdown-content{
    display:flex;
    flex-direction: column;
    width:50%;
    height:auto;
}