@import '~antd/dist/antd.css';
#HeadNav{
    height: 50px;
    background-color:burlywood;
    width: 100%;
}
.nav-wrap{
        width:1200px;
        margin:0 auto;
        height:50px;
        box-sizing: border-box;
        display:flex;
        justify-content:space-around;
}
.nav-logo-wrap{
        display:inline-block;
        font-size:26px;
        vertical-align:top;
        margin-left:12px;
        margin-top:4px;
}
.nav-list-wrap{
    display:inline-block;
    width:1160px;
    height:50px;
    text-align:right;
    color:black;
    font-size:26px;
}
.ant-menu{
    color: #fff;
    background: transparent;
    display:inline-block;
    height:50px;
}
.ant-menu-horizontal{
    border-color: transparent;
}
.ant-menu-horizontal .ant-menu-item, .ant-menu-horizontal .ant-menu-submemu{
    margin-top:0;
}
.ant-menu-horizontal{
    line-height:47px;
}
